#aboutme-background {
	background-color: #fafafa;
	height: 100vh;
	width: 100vw;
}

nav {
	background-color: #323dbc;
	/*border: thin;
	border-style: solid;*/
}

div.nav-wrapper a {
	color: #ffffff;
}

#logo-plain {
	height: 56px;
	width: 90px;
	overflow: none;
}